simulations-flash/contrib/aswing/awml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by guide (HOME) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://awml.aswing.org" xmlns:aw="http://awml.aswing.org">
    <xs:complexType name="ComponentObject">
        <xs:complexContent>
            <xs:extension base="aw:CreatableObject">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">                    <xs:element name="event" type="aw:EventRef"
                        minOccurs="0" maxOccurs="unbounded">
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="optional" />
                <xs:attribute name="namespace" type="xs:string"
                    use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Component">
        <xs:complexContent>
            <xs:extension base="aw:ComponentObject">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:BorderList" minOccurs="0" />
                    <xs:element name="background" type="aw:Color"
                        minOccurs="0" />
                    <xs:element name="foreground" type="aw:Color"
                        minOccurs="0" />
                    <xs:element name="font" type="aw:Font"
                        minOccurs="0" />
                    <xs:element name="clip-bounds" type="aw:Bounds"
                        minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="index" type="xs:int" use="optional" />
                <xs:attribute name="enabled" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="visible" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="focus" type="xs:boolean"
                    use="optional" default="false" />
                <xs:attribute name="focusable" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="max-width" type="xs:int"
                    use="optional" />
                <xs:attribute name="max-height" type="xs:int"
                    use="optional" />
                <xs:attribute name="min-width" type="xs:int"
                    use="optional" />
                <xs:attribute name="min-height" type="xs:int"
                    use="optional" />
                <xs:attribute name="width" type="xs:int" use="optional" />
                <xs:attribute name="height" type="xs:int"
                    use="optional" />
                <xs:attribute name="preferred-width" type="xs:int"
                    use="optional" />
                <xs:attribute name="preferred-height" type="xs:int"
                    use="optional" />
                <xs:attribute name="opaque" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="tool-tip" type="xs:string"
                    use="optional" />
                <xs:attribute name="hand-cursor" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="x" type="xs:int" use="optional" />
                <xs:attribute name="y" type="xs:int" use="optional" />
                <xs:attribute name="constraint"
                    type="aw:ComponentConstraint" use="optional" />
                <xs:attribute name="trigger-enabled" type="xs:boolean"
                    use="optional" default="true" />
                <xs:attribute name="alpha" type="xs:int" use="optional" />
                <xs:attribute name="anti-blurring" type="xs:boolean"
                    use="optional" />
                <xs:attribute name="cache-prefer-sizes" type="xs:boolean"></xs:attribute>
                <xs:attribute name="drag-enabled" type="xs:boolean"></xs:attribute>
                <xs:attribute name="drop-trigger" type="xs:boolean"></xs:attribute>
                <xs:attribute name="ui-class" type="xs:string"
                    use="optional" />
                <xs:attribute name="on-created" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-destroy" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-paint" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-shown" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-hidden" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-moved" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-resized" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-press" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-release" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-release-outside"
                    type="aw:EventType" use="optional" />
                <xs:attribute name="on-roll-over" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-roll-out" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-drag-over" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-drag-out" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-clicked" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-focus-gained" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-focus-lost" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-key-down" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-key-up" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-mouse-wheel" type="aw:EventType"
                    use="optional" />
                <xs:attribute name="on-drag-recognized"
                    type="aw:EventType">
                </xs:attribute>
                <xs:attribute name="on-drag-enter"
                    type="aw:EventType">
                </xs:attribute>
                <xs:attribute name="on-drag-overring"
                    type="aw:EventType">
                </xs:attribute>
                <xs:attribute name="on-drag-exit" type="aw:EventType"></xs:attribute>
                <xs:attribute name="on-drag-drop" type="aw:EventType"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Container">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:LayoutList" minOccurs="0"/>
                    <xs:group ref="aw:ComponentList" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="on-component-added" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-component-removed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextComponent">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="text-format" type="aw:TextFormat" minOccurs="0"/>
                    <xs:element name="text-css" type="xs:string" minOccurs="0"/>
                    <xs:element name="text" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="editable" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="html" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="text" type="xs:string" use="optional"/>
                <xs:attribute name="max-chars" type="xs:int" use="optional"/>
                <xs:attribute name="password" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="restrict" type="xs:string" use="optional"/>
                <xs:attribute name="text-css-file" type="xs:string" use="optional"/>
                <xs:attribute name="on-text-changed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-text-scrolled" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextField">
        <xs:complexContent>
            <xs:extension base="aw:TextComponent">
                <xs:attribute name="columns" type="xs:int" use="optional" default="0"/>
                <xs:attribute name="on-action" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextArea">
        <xs:complexContent>
            <xs:extension base="aw:TextComponent">
                <xs:attribute name="horizontal-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="horizontal-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="columns" type="xs:int" use="optional" default="0"/>
                <xs:attribute name="rows" type="xs:int" use="optional" default="0"/>
                <xs:attribute name="multiline" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="word-wrap" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Separator">
    	<xs:complexContent>
    		<xs:extension base="aw:Component">
    			<xs:attribute name="orientation"
    				type="aw:SeparatorOrientation" use="optional"
    				default="horizontal" />
    			<xs:attribute name="gap" type="xs:int"></xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProgressBar">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:IconList"/>
                </xs:sequence>
                <xs:attribute name="indeterminate" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="maximum" type="xs:int" use="optional"/>
                <xs:attribute name="minimum" type="xs:int"/>
                <xs:attribute name="value" type="xs:int"/>
                <xs:attribute name="orientation" type="aw:ProgressBarOrientation" use="optional" default="horizontal"/>
                <xs:attribute name="on-state-changed" type="aw:EventType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Label">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:IconList"/>
                </xs:sequence>
                <xs:attribute name="horizontal-align" type="aw:LabelHorizontalAlign" use="optional"/>
                <xs:attribute name="vertical-align" type="aw:LabelVerticalAlign" use="optional"/>
                <xs:attribute name="horizontal-position" type="aw:LabelHorizontalAlign" use="optional"/>
                <xs:attribute name="vertical-position" type="aw:LabelVerticalAlign" use="optional"/>
                <xs:attribute name="icon-text-gap" type="xs:int" use="optional"/>
                <xs:attribute name="text" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AbstractButton">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="margins" type="aw:Insets" minOccurs="0"/>
                    <xs:group ref="aw:IconList"/>
                    <xs:element name="icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="disabled-icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="pressed-icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="roll-over-icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="selected-icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="disabled-selected-icon" type="aw:IconWrapper" minOccurs="0"/>
                    <xs:element name="roll-over-selected-icon" type="aw:IconWrapper" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="horizontal-align" type="aw:ButtonHorizontalAlign" use="optional"/>
                <xs:attribute name="vertical-align" type="aw:ButtonVerticalAlign" use="optional"/>
                <xs:attribute name="horizontal-position" type="aw:ButtonHorizontalAlign" use="optional"/>
                <xs:attribute name="vertical-position" type="aw:ButtonVerticalAlign" use="optional"/>
                <xs:attribute name="icon-text-gap" type="xs:int" use="optional"/>
                <xs:attribute name="text" type="xs:string" use="optional"/>
                <xs:attribute name="selected" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="group-id" type="xs:string" use="optional"/>
                <xs:attribute name="roll-over-enabled" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="on-action" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-selection-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Button">
        <xs:complexContent>
            <xs:extension base="aw:AbstractButton"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ToggleButton">
        <xs:complexContent>
            <xs:extension base="aw:AbstractButton"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RadioButton">
        <xs:complexContent>
            <xs:extension base="aw:ToggleButton"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CheckBox">
        <xs:complexContent>
            <xs:extension base="aw:ToggleButton"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Popup">
        <xs:complexContent>
            <xs:extension base="aw:Container">
                <xs:attribute name="owner" type="xs:string" use="optional" default="_root" />
                <xs:attribute name="owner-id" type="xs:string" use="optional" />
                <xs:attribute name="owner-namespace" type="xs:string" use="optional" />
                <xs:attribute name="modal" type="xs:boolean" use="optional" default="true" />
                <xs:attribute name="pack" type="xs:boolean" use="optional"/>
                <xs:attribute name="on-window-opened" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-closed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-closing" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Window">
        <xs:complexContent>
            <xs:extension base="aw:Popup">
                <xs:attribute name="active" type="xs:boolean" use="optional" default="true" />
                <xs:attribute name="on-window-activated" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-deactivated" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-iconified" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-restored" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-window-maximized" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Frame">
        <xs:complexContent>
            <xs:extension base="aw:Window">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="maximized-bounds" type="aw:Bounds" minOccurs="0"/>
                    <xs:group ref="aw:IconList"/>
                </xs:sequence>
                <xs:attribute name="closable" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="draggable" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="resizable" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="title" type="xs:string" use="optional"/>
                <xs:attribute name="state" type="aw:FrameState" use="optional" default="normal"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-ability-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MovieClipPanel">
        <xs:complexContent>
            <xs:extension base="aw:Container">
                <xs:sequence></xs:sequence>
                <xs:attribute name="movie-clip" type="xs:string"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ToolBar">
        <xs:complexContent>
            <xs:extension base="aw:Container">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="margins" type="aw:Insets" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="floatable" type="xs:boolean" use="optional"/>
                <xs:attribute name="orientation" type="aw:ToolBarOrientation"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ScrollPane">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="scroll-view-port" type="aw:ViewPort" minOccurs="0" maxOccurs="1"></xs:element>
                    <xs:group ref="aw:ComponentList" />
                </xs:sequence>
                <xs:attribute name="horizontal-scroll-bar-policy" type="aw:ScrollPaneScrollBarPolicy" use="optional"/>
                <xs:attribute name="vertical-scroll-bar-policy" type="aw:ScrollPaneScrollBarPolicy" use="optional"/>
                <xs:attribute name="on-adjustment-changed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-view-port-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ScrollBar">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:attribute name="block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="maximum" type="xs:int" use="optional"/>
                <xs:attribute name="minimum" type="xs:int" use="optional"/>
                <xs:attribute name="unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="value" type="xs:int" use="optional"/>
                <xs:attribute name="extent" type="xs:int" use="optional"/>
                <xs:attribute name="orientation" type="aw:ScrollBarOrientation" use="optional"/>
                <xs:attribute name="on-adjustment-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Slider">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:attribute name="maximum" type="xs:int" use="optional"/>
                <xs:attribute name="minimum" type="xs:int" use="optional"/>
                <xs:attribute name="value" type="xs:int" use="optional"/>
                <xs:attribute name="extent" type="xs:int" use="optional"/>
                <xs:attribute name="orientation" type="aw:SliderOrientation" use="optional"/>
                <xs:attribute name="major-tick-spacing" type="xs:int" use="optional"/>
                <xs:attribute name="minor-tick-spacing" type="xs:int" use="optional"/>
                <xs:attribute name="inverted" type="xs:boolean" use="optional"/>
                <xs:attribute name="snap-to-ticks" type="xs:boolean" use="optional"/>
                <xs:attribute name="paint-track" type="xs:boolean" use="optional"/>
                <xs:attribute name="paint-ticks" type="xs:boolean" use="optional"/>
                <xs:attribute name="show-value-tip" type="xs:boolean" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   
    <xs:complexType name="Panel">
        <xs:complexContent>
            <xs:extension base="aw:Container"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="List">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="list-items" type="aw:ListItems" minOccurs="0" />
                    <xs:element name="selection-background" type="aw:Color" minOccurs="0" maxOccurs="1" />
                    <xs:element name="selection-foreground" type="aw:Color" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="horizontal-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="horizontal-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="first-visible-index" type="xs:int" use="optional" />
                <xs:attribute name="last-visible-index" type="xs:int" use="optional" />
                <xs:attribute name="preffered-cell-width-when-no-count" type="xs:int" use="optional" />
                <xs:attribute name="selected-index" type="xs:int" use="optional" />
                <xs:attribute name="selected-indices" type="aw:ListSelectedIndices" use="optional" />
                <xs:attribute name="selected-item" type="xs:string" use="optional" />
                <xs:attribute name="selection-mode" type="aw:SelectionMode" use="optional" />
                <xs:attribute name="visible-cell-width" type="xs:int" />
                <xs:attribute name="visible-row-count" type="xs:int" />
                <xs:attribute name="on-state-changed" type="aw:EventType"   use="optional" />
                <xs:attribute name="on-selection-changed" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-scroll" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-press" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-release" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-release-outside" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-roll-over" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-roll-out" type="aw:EventType" use="optional" />
                <xs:attribute name="on-list-item-clicked" type="aw:EventType" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Table">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="selection-background" type="aw:Color" minOccurs="0"/>
                    <xs:element name="selection-foreground" type="aw:Color" minOccurs="0"/>
                    <xs:element name="grid-color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="table-columns" type="aw:TableColumns"/>
                    <xs:element name="table-rows" type="aw:TableRows"/>
                </xs:sequence>
                <xs:attribute name="horizontal-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="horizontal-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="auto-resize-mode" type="aw:TableAutoResizeMode" use="optional"/>
                <xs:attribute name="selection-mode" type="aw:SelectionMode" use="optional"/>
                <xs:attribute name="row-height" type="xs:int" use="optional"/>
                <xs:attribute name="row-margin" type="xs:int" use="optional"/>
                <xs:attribute name="column-margin" type="xs:int" use="optional"/>
                <xs:attribute name="show-horizontal-lines" type="xs:boolean" use="optional"/>
                <xs:attribute name="show-vertical-lines" type="xs:boolean" use="optional"/>
                <xs:attribute name="row-selection-allowed" type="xs:boolean" use="optional"/>
                <xs:attribute name="column-selection-allowed" type="xs:boolean" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-selection-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ComboBox">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="list-items" type="aw:ListItems" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="editable" type="xs:boolean" use="optional"/>
                <xs:attribute name="maximum-row-count" type="xs:int" use="optional"/>
                <xs:attribute name="selected-index" type="xs:int" use="optional"/>
                <xs:attribute name="selected-item" type="xs:string" use="optional"/>
                <xs:attribute name="popup-visible" type="xs:boolean" use="optional"/>
                <xs:attribute name="on-action" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AbstractTabbedPane">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="margins" type="aw:Insets" minOccurs="0"/>
                    <xs:element name="tab" type="aw:Tab" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="horizontal-align" type="aw:TabPaneHorizontalAlign" use="optional"/>
                <xs:attribute name="vertical-align" type="aw:TabPaneVerticalAlign" use="optional"/>
                <xs:attribute name="horizontal-text-position" type="aw:TabPaneHorizontalTextPosition" use="optional"/>
                <xs:attribute name="vertical-text-position" type="aw:TabPaneVerticalTextPosition" use="optional"/>
                <xs:attribute name="icon-text-gap" type="xs:int" use="optional"/>
                <xs:attribute name="selected-index" type="xs:int" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Accordion">
        <xs:complexContent>
            <xs:extension base="aw:AbstractTabbedPane"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TabbedPane">
        <xs:complexContent>
            <xs:extension base="aw:AbstractTabbedPane">
                <xs:attribute name="tab-placement" type="aw:TabPlacement" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FloorPane">
        <xs:complexContent>
            <xs:extension base="aw:Container">
                <xs:attribute name="horizontal-align"
                    type="aw:FloorPaneHorizontalAlign" use="optional" />
                <xs:attribute name="vertical-align"
                    type="aw:FloorPaneVerticalAlign" use="optional" />
                <xs:attribute name="offset-x" type="xs:int"
                    use="optional" />
                <xs:attribute name="offset-y" type="xs:int"
                    use="optional" />
                <xs:attribute name="mask-floor" type="xs:boolean"
                    use="optional" />
                <xs:attribute name="scale-mode"
                    type="aw:FloorPaneScaleMode" use="optional" />
                <xs:attribute name="custom-scale" type="xs:int"></xs:attribute>
                <xs:attribute name="preferred-size-strategy"
                    type="aw:FloorPanePreferredSizeStrategy" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LoadPane">
        <xs:complexContent>
            <xs:extension base="aw:FloorPane">
                <xs:attribute name="url" type="xs:string" use="optional"/>
                <xs:attribute name="on-load-start" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-load-progress" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-load-complete" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-load-init" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-load-error" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttachPane">
        <xs:complexContent>
            <xs:extension base="aw:FloorPane">
                <xs:attribute name="symbol-id" type="xs:string" use="optional"/>
                <xs:attribute name="on-attached" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SoftBox">
        <xs:complexContent>
            <xs:extension base="aw:Panel">
                <xs:sequence />
                <xs:attribute name="axis" type="aw:SoftBoxAxis"
                    use="optional" />
                <xs:attribute name="gap" type="xs:int" use="optional" />
                <xs:attribute name="align" type="aw:SoftBoxAlign" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Box">
        <xs:complexContent>
            <xs:extension base="aw:Panel">
                <xs:sequence/>
                <xs:attribute name="axis" type="aw:BoxAxis" use="optional"/>
                <xs:attribute name="gap" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ViewPort">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:ComponentList"/>
                </xs:sequence>
                <xs:attribute name="horizontal-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="horizontal-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="view-position-x" type="xs:int" use="optional"/>
                <xs:attribute name="view-position-y" type="xs:int" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Adjuster">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence></xs:sequence>
                <xs:attribute name="columns" type="xs:int" use="optional"/>
                <xs:attribute name="editable" type="xs:boolean" use="optional"/>
                <xs:attribute name="extent" type="xs:int" use="optional"/>
                <xs:attribute name="maximum" type="xs:int" use="optional"/>
                <xs:attribute name="minimum" type="xs:int" use="optional"/>
                <xs:attribute name="value" type="xs:int" use="optional"/>
                <xs:attribute name="orientation" type="aw:AdjusterOrientation" use="optional"/>
                <xs:attribute name="on-action" type="aw:EventType" use="optional"/>
                <xs:attribute name="on-state-changed" type="aw:EventType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Spacer">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Tree">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="selection-background" type="aw:Color" minOccurs="0" maxOccurs="1" />
                    <xs:element name="selection-foreground" type="aw:Color" minOccurs="0" maxOccurs="1" />
                    <xs:element name="tree-root" type="aw:TreeRoot" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="horizontal-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="horizontal-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-block-increment" type="xs:int" use="optional"/>
                <xs:attribute name="vertical-unit-increment" type="xs:int" use="optional"/>
                <xs:attribute name="editable" type="xs:boolean" />
                <xs:attribute name="expand-selected-paths" type="xs:boolean" />
                <xs:attribute name="fixed-cell-width" type="xs:int" />
                <xs:attribute name="invoke-stop-cell-editing" type="xs:boolean" />
                <xs:attribute name="root-visible" type="xs:boolean"/>
                <xs:attribute name="row-height" type="xs:int"/>
                <xs:attribute name="scroll-on-expand" type="xs:boolean" />
                <xs:attribute name="toggle-click-count" type="xs:int" />
                <xs:attribute name="visible-row-count" type="xs:int" />
                <xs:attribute name="selection-mode" type="aw:TreeSelectionMode" />
                <xs:attribute name="selected-row" type="xs:int" />
                <xs:attribute name="selected-rows" type="aw:TreeSelectedRows" />
                <xs:attribute name="on-state-changed" type="aw:EventType" />
                <xs:attribute name="on-selection-changed" type="aw:EventType" />
                <xs:attribute name="on-property-changed" type="aw:EventType"/>
                <xs:attribute name="on-expanded" type="aw:EventType"/>
                <xs:attribute name="on-collapsed" type="aw:EventType"/>
                <xs:attribute name="on-will-expand" type="aw:EventType"/>
                <xs:attribute name="on-will-collapse" type="aw:EventType" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="aswing">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="mc-panel" type="aw:MovieClipPanel"
                    minOccurs="0" maxOccurs="unbounded">
                </xs:element>
                <xs:element name="popup" type="aw:Popup" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="window" type="aw:Window" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="frame" type="aw:Frame" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="popup-menu" type="aw:PopupMenu" minOccurs="0" maxOccurs="unbounded"></xs:element>
                <xs:group ref="aw:ComponentList" />
                <xs:element name="form" type="aw:FormRef" minOccurs="0"
                    maxOccurs="unbounded">
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="EmptyLayout">
        <xs:complexContent>
            <xs:extension base="aw:CreatableObject">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CenterLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SoftBoxLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence/>
                <xs:attribute name="axis" type="aw:SoftBoxAxis" use="optional" default="x"/>
                <xs:attribute name="gap" type="xs:int" use="optional"/>
                <xs:attribute name="align" type="aw:SoftBoxAlign" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GridLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence/>
                <xs:attribute name="rows" type="xs:int" use="optional"/>
                <xs:attribute name="columns" type="xs:int" use="optional"/>
                <xs:attribute name="hgap" type="xs:int" use="optional"/>
                <xs:attribute name="vgap" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlowLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence/>
                <xs:attribute name="align" type="aw:FlowLayoutAlign" use="optional" default="left"/>
                <xs:attribute name="hgap" type="xs:int" use="optional"/>
                <xs:attribute name="vgap" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BoxLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence/>
                <xs:attribute name="axis" type="aw:BoxAxis" use="optional" default="x"/>
                <xs:attribute name="gap" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BorderLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence/>
                <xs:attribute name="hgap" type="xs:int" use="optional"/>
                <xs:attribute name="vgap" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Font">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional" />
                <xs:attribute name="size" type="xs:int" use="optional" />
                <xs:attribute name="bold" type="xs:boolean" use="optional" />
                <xs:attribute name="italic" type="xs:boolean" use="optional" />
                <xs:attribute name="underline" type="xs:boolean" use="optional" />
                <xs:attribute name="embeded" type="xs:boolean" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextFormat">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="font" type="aw:Font" minOccurs="0" />
                    <xs:element name="color" type="aw:Color" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="align" type="aw:TextFormatAlign" use="optional" />
                <xs:attribute name="block-indent" type="xs:int" use="optional" />
                <xs:attribute name="bold" type="xs:boolean" use="optional" />
                <xs:attribute name="bullet" type="xs:boolean" use="optional" />
                <xs:attribute name="embedded-fonts" type="xs:boolean" use="optional" />
                <xs:attribute name="indent" type="xs:int" use="optional" />
                <xs:attribute name="italic" type="xs:boolean" use="optional" />
                <xs:attribute name="left-margin" type="xs:int" use="optional" />
                <xs:attribute name="name" type="xs:string" use="optional" />
                <xs:attribute name="right-margin" type="xs:int" use="optional" />
                <xs:attribute name="size" type="xs:int" use="optional" />
                <xs:attribute name="underline" type="xs:boolean" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Color">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="rgb" type="aw:RGB" use="optional" />
                <xs:attribute name="alpha" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Point">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="x" type="xs:int" use="optional" />
                <xs:attribute name="y" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Insets">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="top" type="xs:int" use="optional" />
                <xs:attribute name="left" type="xs:int" use="optional" />
                <xs:attribute name="right" type="xs:int" use="optional" />
                <xs:attribute name="bottom" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Bounds">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="x" type="xs:int" use="optional" />
                <xs:attribute name="y" type="xs:int" use="optional" />
                <xs:attribute name="width" type="xs:int" use="optional" />
                <xs:attribute name="height" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DecorateBorder">
        <xs:complexContent>
            <xs:extension base="aw:CreatableObject">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:BorderList" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TitledBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="font" type="aw:Font" minOccurs="0"/>
                    <xs:element name="color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="line-color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="line-light-color" type="aw:Color"/>
                </xs:sequence>
                <xs:attribute name="title" type="xs:string" use="optional"/>
                <xs:attribute name="position" type="aw:TitledBorderPosition" use="optional"/>
                <xs:attribute name="align" type="aw:TitledBorderAlign" use="optional"/>
                <xs:attribute name="beveled" type="xs:boolean" use="optional"/>
                <xs:attribute name="edge" type="xs:int" use="optional"/>
                <xs:attribute name="line-thickness" type="xs:int" use="optional"/>
                <xs:attribute name="round" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SimpleTitledBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="font" type="aw:Font" minOccurs="0"/>
                    <xs:element name="color" type="aw:Color" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="title" type="xs:string" use="optional"/>
                <xs:attribute name="position" type="aw:TitledBorderPosition" use="optional"/>
                <xs:attribute name="align" type="aw:TitledBorderAlign" use="optional"/>
                <xs:attribute name="offset" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SideLineBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0">
                    <xs:element name="color" type="aw:Color" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="side" type="aw:LineBorderSide" use="optional"/>
                <xs:attribute name="thickness" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LineBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0">
                    <xs:element name="color" type="aw:Color" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="thickness" type="xs:int" use="optional"/>
                <xs:attribute name="round" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EmptyBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="insets" type="aw:Insets" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BevelBorder">
        <xs:complexContent>
            <xs:extension base="aw:DecorateBorder">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="highlight-outer-color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="highlight-inner-color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="shadow-outer-color" type="aw:Color" minOccurs="0"/>
                    <xs:element name="shadow-inner-color" type="aw:Color" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="type" type="aw:BevelBorderType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListItem">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence></xs:sequence>
                <xs:attribute name="value" type="xs:string" use="required" />
                <xs:attribute name="type" type="aw:ListItemType" use="optional" default="string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListItems">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="list-item" type="aw:ListItem" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListTreeItem">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence></xs:sequence>
                <xs:attribute name="value" type="xs:string" use="required" />
                <xs:attribute name="type" type="aw:ListTreeItemType" use="optional" default="string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListTreeItems">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="list-tree-item" type="aw:ListTreeItem" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableColumns">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="table-column"
                        type="aw:TableColumn" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableColumn">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence></xs:sequence>

                <xs:attribute name="title" type="xs:string"
                    use="optional" />

                <xs:attribute name="type" type="aw:TableColumnType"
                    use="optional" />

                <xs:attribute name="editable" type="xs:boolean"
                    use="optional" />

                <xs:attribute name="resizable" type="xs:boolean"
                    use="optional" />

                <xs:attribute name="min-width" type="xs:int"
                    use="optional" />

                <xs:attribute name="max-width" type="xs:int"
                    use="optional" />

                <xs:attribute name="preferred-width" type="xs:int"
                    use="optional" />

                <xs:attribute name="width" type="xs:int" use="optional" />

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableRows">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="table-row" type="aw:TableRow"
                        minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableRow">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="table-cell" type="aw:TableCell"
                        minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TableCell">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence></xs:sequence>

                <xs:attribute name="value" type="xs:string"
                    use="optional" />

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AbstractTab">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0"></xs:sequence>

                <xs:attribute name="title" type="xs:string"
                    use="optional" />

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Tab">
        <xs:complexContent>
            <xs:extension base="aw:AbstractTab">
                <xs:sequence minOccurs="0">
                    <xs:group ref="aw:IconList" minOccurs="0" maxOccurs="1"/>
                    <xs:group ref="aw:ComponentList" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="tool-tip" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttachIcon">
        <xs:complexContent>
            <xs:extension base="aw:CreatableObject">
                <xs:sequence></xs:sequence>
                <xs:attribute name="width" type="xs:int" use="optional" />
                <xs:attribute name="height" type="xs:int"
                    use="optional" />
                <xs:attribute name="scale" type="xs:boolean"
                    use="optional" />
                <xs:attribute name="linkage" type="xs:string"
                    use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LoadIcon">
        <xs:complexContent>
            <xs:extension base="aw:CreatableObject">
                <xs:sequence></xs:sequence>
                <xs:attribute name="width" type="xs:int" use="optional" />
                <xs:attribute name="height" type="xs:int"
                    use="optional" />
                <xs:attribute name="scale" type="xs:boolean"
                    use="optional" />
                <xs:attribute name="url" type="xs:string"
                    use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OffsetIcon">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence minOccurs="0">
                    <xs:group ref="aw:IconList" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="offset-x" type="xs:int" use="optional" />
                <xs:attribute name="offset-y" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IconWrapper">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0">
                    <xs:group ref="aw:IconList" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TreeRoot">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="tree-node" type="aw:TreeNode"
                        minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TreeNode">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="tree-node" type="aw:TreeNode"
                        minOccurs="0" maxOccurs="unbounded">
                    </xs:element>
                </xs:sequence>

                <xs:attribute name="value" type="xs:string" />

                <xs:attribute name="type" type="aw:TreeNodeType" />

                <xs:attribute name="selected" type="xs:boolean" />

                <xs:attribute name="expanded" type="xs:boolean" />

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="FrameState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal"/>
            <xs:enumeration value="iconified"/>
            <xs:enumeration value="maximized"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FlowLayoutAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SoftBoxAxis">
        <xs:restriction base="xs:string">
            <xs:enumeration value="x"/>
            <xs:enumeration value="y"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BoxAxis">
        <xs:restriction base="xs:string">
            <xs:enumeration value="x"/>
            <xs:enumeration value="y"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ComponentConstraint">
        <xs:restriction base="xs:string">
            <xs:enumeration value="north" />
            <xs:enumeration value="east" />
            <xs:enumeration value="west" />
            <xs:enumeration value="south" />
            <xs:enumeration value="center" />
            <xs:enumeration value="window-title" />
            <xs:enumeration value="window-content" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SeparatorOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProgressBarOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LabelHorizontalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LabelVerticalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ButtonHorizontalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ButtonVerticalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RGBAlias">
        <xs:restriction base="xs:string">
            <xs:enumeration value="black"/>
            <xs:enumeration value="blue"/>
            <xs:enumeration value="cyan"/>
            <xs:enumeration value="dark-grey"/>
            <xs:enumeration value="gray"/>
            <xs:enumeration value="green"/>
            <xs:enumeration value="light-grey"/>
            <xs:enumeration value="magenta"/>
            <xs:enumeration value="orange"/>
            <xs:enumeration value="pink"/>
            <xs:enumeration value="red"/>
            <xs:enumeration value="white"/>
            <xs:enumeration value="yellow"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RGBCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0x)?[0-9A-Fa-f]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RGB">
        <xs:union memberTypes="aw:RGBAlias aw:RGBCode"/>
    </xs:simpleType>
    <xs:simpleType name="BevelBorderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="raised"/>
            <xs:enumeration value="lowered"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LineBorderSide">
        <xs:restriction base="xs:string">
            <xs:enumeration value="north"/>
            <xs:enumeration value="south"/>
            <xs:enumeration value="west"/>
            <xs:enumeration value="east"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TitledBorderAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TitledBorderPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TextFormatAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ToolBarOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScrollBarOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SliderOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:simpleType name="ListSelectedIndices">
        <xs:list itemType="xs:int"/>
    </xs:simpleType>
    <xs:simpleType name="SelectionMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="single"/>
            <xs:enumeration value="multiple"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TableAutoResizeMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="off"/>
            <xs:enumeration value="next-column"/>
            <xs:enumeration value="subsequent-columns"/>
            <xs:enumeration value="last-column"/>
            <xs:enumeration value="all-columns"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ListItemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="boolean"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ListTreeItemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="boolean"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TreeNodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="boolean"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TableColumnType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="boolean"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TabPaneHorizontalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TabPaneVerticalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TabPaneVerticalTextPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TabPaneHorizontalTextPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TabPlacement">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="LayoutList">
        <xs:choice>
            <xs:element name="soft-box-layout" type="aw:SoftBoxLayout"
                minOccurs="0" />
            <xs:element name="grid-layout" type="aw:GridLayout"
                minOccurs="0" />
            <xs:element name="flow-layout" type="aw:FlowLayout"
                minOccurs="0" />
            <xs:element name="box-layout" type="aw:BoxLayout"
                minOccurs="0" />
            <xs:element name="border-layout" type="aw:BorderLayout"
                minOccurs="0" />
            <xs:element name="center-layout" type="aw:CenterLayout"
                minOccurs="0" />
            <xs:element name="align-layout" type="aw:AlignLayout" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="empty-layout" type="aw:EmptyLayout"
                minOccurs="0" />
        </xs:choice>
    </xs:group>
    <xs:group name="BorderList">
        <xs:choice>
            <xs:element name="titled-border" type="aw:TitledBorder" />
            <xs:element name="simple-titled-border"
                type="aw:SimpleTitledBorder" />
            <xs:element name="side-line-border"
                type="aw:SideLineBorder" />
            <xs:element name="line-border" type="aw:LineBorder" />
            <xs:element name="empty-border" type="aw:EmptyBorder" />
            <xs:element name="bevel-border" type="aw:BevelBorder" />
            <xs:element name="no-border" type="aw:NoBorder"></xs:element>
        </xs:choice>
    </xs:group>
    <xs:group name="ComponentList">
        <xs:sequence>
            <xs:element name="text-field" type="aw:TextField"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="text-area" type="aw:TextArea"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="separator" type="aw:Separator"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="progress-bar" type="aw:ProgressBar"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="label" type="aw:Label" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="button" type="aw:Button" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="toggle-button" type="aw:ToggleButton"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="check-box" type="aw:CheckBox"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="radio-button" type="aw:RadioButton"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="view-port" type="aw:ViewPort"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="tool-bar" type="aw:ToolBar" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="scroll-pane" type="aw:ScrollPane"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="scroll-bar" type="aw:ScrollBar"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="slider" type="aw:Slider" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="panel" type="aw:Panel" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="soft-box" type="aw:SoftBox" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="box" type="aw:Box" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="list" type="aw:List" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="combo-box" type="aw:ComboBox"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="accordion" type="aw:Accordion"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="tabbed-pane" type="aw:TabbedPane"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="load-pane" type="aw:LoadPane"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="attach-pane" type="aw:AttachPane"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="table" type="aw:Table" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="adjuster" type="aw:Adjuster" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="spacer" type="aw:Spacer" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="tree" type="aw:Tree" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="list-tree" type="aw:ListTree"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="menu-bar" type="aw:MenuBar" minOccurs="0" maxOccurs="unbounded"></xs:element>
            <xs:element name="split-pane" type="aw:SplitPane"
                minOccurs="0" maxOccurs="unbounded">
            </xs:element>
            <xs:group ref="aw:ColorChooserComponentList" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="component" type="aw:ComponentRef"
                minOccurs="0" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="ColorChooserComponentList">
        <xs:sequence>
            <xs:element name="color-swatches" type="aw:ColorSwatches" minOccurs="0" maxOccurs="unbounded"></xs:element>             
            <xs:element name="color-mixer" type="aw:ColorMixer" minOccurs="0" maxOccurs="unbounded"></xs:element>
            <xs:element name="color-chooser" type="aw:ColorChooser" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="IconList">
        <xs:sequence>
            <xs:element name="attach-icon" type="aw:AttachIcon" minOccurs="0"/>
            <xs:element name="load-icon" type="aw:LoadIcon" minOccurs="0"/>
            <xs:element name="offset-icon" type="aw:OffsetIcon" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="SoftBoxAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FloorPaneVerticalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FloorPaneHorizontalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FloorPanePreferredSizeStrategy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="both"/>
            <xs:enumeration value="image"/>
            <xs:enumeration value="layout"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FloorPaneScaleMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="fit-pane" />
            <xs:enumeration value="fit-width" />
            <xs:enumeration value="fit-height" />
            <xs:enumeration value="stretch-pane" />
            <xs:enumeration value="custom"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScrollPaneScrollBarPolicy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="never"/>
            <xs:enumeration value="as-needed"/>
            <xs:enumeration value="always"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdjusterOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal" />
            <xs:enumeration value="vertical" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TreeSelectionMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="single" />
            <xs:enumeration value="contiguous" />
            <xs:enumeration value="discontiguous" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TreeSelectedRows">
        <xs:list itemType="xs:int"/>
    </xs:simpleType>
    <xs:simpleType name="ListTreeSelectedRows">
        <xs:list itemType="xs:int"/>
    </xs:simpleType>
    <xs:complexType name="Object">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="property" type="aw:PropertyRef"
                        minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="method" type="aw:MethodRef"
                        minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComponentRef">
        <xs:complexContent>
            <xs:extension base="aw:ComponentObject">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="constructor" type="aw:ArgumentsRef" minOccurs="0" maxOccurs="1" />                    <xs:element name="component" type="aw:ComponentRef" minOccurs="0" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PropertyRef">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="value" type="aw:ValueRef" />
            <xs:element name="instance" type="aw:InstanceRef" />
            <xs:element name="array" type="aw:ArrayRef" />
            <xs:element name="component" type="aw:ComponentRef" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required" />    </xs:complexType>
    <xs:complexType name="ArgumentsRef">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="aw:ValueRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="instance" type="aw:InstanceRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="array" type="aw:ArrayRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="component" type="aw:ComponentRef" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValueRef">
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="type" type="aw:BasicValueRefType"/>
    </xs:complexType>
    <xs:complexType name="InstanceRef">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="constructor" type="aw:ArgumentsRef" minOccurs="0" maxOccurs="1" />                </xs:sequence>
                <xs:attribute name="class" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ArrayRef">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value" type="aw:ValueRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="instance" type="aw:InstanceRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="array" type="aw:ArrayRef" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="component" type="aw:ComponentRef" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BasicValueRefType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="number" />
            <xs:enumeration value="boolean" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MethodRef">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="arguments" type="aw:ArgumentsRef" minOccurs="0" maxOccurs="1" />                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventRef">
        <xs:sequence></xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="listener" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="method" type="aw:EventType" use="required"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="EventType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\w+(\.\w+(\(\))?)?"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="FormRef">
        <xs:complexContent>
            <xs:extension base="aw:ComponentRef">
                <xs:sequence></xs:sequence>
                <xs:attribute name="owner" type="xs:string"></xs:attribute>
                <xs:attribute name="owner-id" type="xs:string"></xs:attribute>
                <xs:attribute name="owner-namespace" type="xs:string"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NoBorder">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CreatableObject">
        <xs:complexContent>
            <xs:extension base="aw:Object">
                <xs:sequence></xs:sequence>
                <xs:attribute name="class" type="xs:string"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AbstractColorChooserPanel">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence>
                    <xs:element name="selected-color" type="aw:Color"
                        minOccurs="0" maxOccurs="1">
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="alpha-section-visible"
                    type="xs:boolean">
                </xs:attribute>
                <xs:attribute name="hex-section-visible"
                    type="xs:boolean">
                </xs:attribute>
                <xs:attribute name="no-color-section-visible"
                    type="xs:boolean">
                </xs:attribute>
                <xs:attribute name="on-color-adjusting"
                    type="aw:EventType">
                </xs:attribute>
                <xs:attribute name="on-state-changed"
                    type="aw:EventType">
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ColorSwatches">
        <xs:complexContent>
            <xs:extension base="aw:AbstractColorChooserPanel">
                <xs:sequence>
                    <xs:group ref="aw:ComponentList"></xs:group></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ColorMixer">
        <xs:complexContent>
            <xs:extension base="aw:AbstractColorChooserPanel">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ColorChooser">
        <xs:complexContent>
            <xs:extension base="aw:AbstractColorChooserPanel">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">                    <xs:element name="tab" type="aw:ColorChooserPanelTab"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ColorChooserPanelTab">
        <xs:complexContent>
            <xs:extension base="aw:AbstractTab">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:ColorChooserComponentList"></xs:group></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListTree">
        <xs:complexContent>
            <xs:extension base="aw:List">
                <xs:sequence>
                    <xs:element name="tree-root" type="aw:TreeRoot" minOccurs="0" maxOccurs="1"></xs:element>
                    <xs:element name="list-tree-items" type="aw:ListTreeItems" minOccurs="0" maxOccurs="1"></xs:element>
                </xs:sequence>
                <xs:attribute name="root-visible" type="xs:boolean"></xs:attribute>
                <xs:attribute name="selected-row" type="xs:int" />
                <xs:attribute name="selected-rows" type="aw:ListTreeSelectedRows" />
                <xs:attribute name="toggle-click-count" type="xs:int"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Entity">
        <xs:attribute name="parser-name" type="xs:string"></xs:attribute>
        <xs:attribute name="parser-class" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="AlignLayoutVerticalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"></xs:enumeration>
            <xs:enumeration value="center"></xs:enumeration>
            <xs:enumeration value="bottom"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AlignLayoutHorizontalAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"></xs:enumeration>
            <xs:enumeration value="center"></xs:enumeration>
            <xs:enumeration value="right"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AlignLayout">
        <xs:complexContent>
            <xs:extension base="aw:EmptyLayout">
                <xs:sequence></xs:sequence>
                <xs:attribute name="horizontal-align"
                    type="aw:AlignLayoutHorizontalAlign">
                </xs:attribute>
                <xs:attribute name="vertical-align" type="aw:AlignLayoutVerticalAlign"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SplitPane">
        <xs:complexContent>
            <xs:extension base="aw:Container">
                <xs:sequence>
                    <xs:element name="top-component" type="aw:ComponentWraper"
                        minOccurs="0" maxOccurs="1">
                    </xs:element>
                    <xs:element name="bottom-component" type="aw:ComponentWraper"
                        minOccurs="0" maxOccurs="1">
                    </xs:element>
                    <xs:element name="left-component" type="aw:ComponentWraper"
                        minOccurs="0" maxOccurs="1">
                    </xs:element>
                    <xs:element name="right-component" type="aw:ComponentWraper" minOccurs="0" maxOccurs="1"></xs:element>
                </xs:sequence>
                <xs:attribute name="continuous-layout"
                    type="xs:boolean">
                </xs:attribute>
                <xs:attribute name="divider-location" type="xs:int"></xs:attribute>
                <xs:attribute name="divider-size" type="xs:int"></xs:attribute>
                <xs:attribute name="one-touch-expandable"
                    type="xs:boolean">
                </xs:attribute>
                <xs:attribute name="resize-weight" type="xs:int"></xs:attribute>
                <xs:attribute name="orientation" type="aw:SplitPaneOrientation"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:simpleType name="SplitPaneOrientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"></xs:enumeration>
            <xs:enumeration value="vertical"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ComponentWraper">
        <xs:complexContent>
            <xs:extension base="aw:Entity">
                <xs:sequence>
                    <xs:group ref="aw:ComponentList"></xs:group></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MenuItem">
        <xs:complexContent>
            <xs:extension base="aw:AbstractButton">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CheckBoxMenuItem">
        <xs:complexContent>
            <xs:extension base="aw:MenuItem">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RadioButtonMenuItem">
        <xs:complexContent>
            <xs:extension base="aw:MenuItem">
                <xs:sequence></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Menu">
        <xs:complexContent>
            <xs:extension base="aw:MenuItem">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:MenuItemList"></xs:group>
                </xs:sequence>
                <xs:attribute name="delay" type="xs:int"></xs:attribute>
                <xs:attribute name="popup-menu-visible" type="xs:boolean"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:group name="MenuItemList">
        <xs:sequence>
            <xs:element name="menu-item" type="aw:MenuItem"
                minOccurs="0" maxOccurs="unbounded">
            </xs:element>
            <xs:element name="check-box-menu-item"
                type="aw:CheckBoxMenuItem" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
            <xs:element name="radio-button-menu-item"
                type="aw:RadioButtonMenuItem" minOccurs="0"
                maxOccurs="unbounded">
            </xs:element>
            <xs:element name="menu" type="aw:Menu" minOccurs="0"
                maxOccurs="unbounded">
            </xs:element>
            <xs:element name="separator" type="aw:Separator" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="MenuBar">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="menu" type="aw:Menu" minOccurs="0" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PopupMenu">
        <xs:complexContent>
            <xs:extension base="aw:Component">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="aw:MenuItemList"></xs:group></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
